@import "../../../node_modules/@darekkay/styles/src/all";
@import "../../../node_modules/@darekkay/styles/src/vendor/highlightjs/all";
@import "../../../node_modules/@darekkay/styles/src/vendor/prismjs/all";

section {
  padding-bottom: 2rem;
}

img {
  border: 1px solid $gray-cool-10;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.no-wrap {
  white-space: nowrap;
}

.break-anywhere {
  overflow-wrap: anywhere;
}

.font-normal {
  font-weight: normal;
}

.icon-severity {
  margin-right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
}
.icon-severity-minor {
  color: $cyan-vivid-20;
}
.icon-severity-moderate {
  color: $yellow-vivid-20;
}
.icon-severity-serious {
  color: $orange-vivid-40;
}
.icon-severity-critical {
  color: var(--color-text-danger);
}
.icon-severity-success {
  color: $green-vivid-30;
}

.module-version {
  font-size: 1.5rem;
}
