{% set anchorId = "module-base" %}
<h2 id="{{ anchorId }}">{% include "../../includes/anchor-link.njk" %} base</h2>

<ul>
  <li>
    <strong class="{{ 'text-danger' if issueCount > 0 }}">{{ issueCount }} violation(s)</strong>
  </li>
</ul>

{% for violation in violations %}
  <section>
    <h3>
      <svg class="icon icon-severity icon-severity-{{ violation.severity }}" role="img">
        <title>{{ violation.severity | capitalize }} severity</title>
        <use xlink:href="#icon-severity-{{ violation.severity }}"></use>
      </svg> {{ violation.title }}</h3>
    <p>{{ violation.description | safe }}</p>
  </section>
{% endfor %}
