{% set anchorId = "module-axe-core" %}
<h2 id="{{ anchorId }}">{% include "../../includes/anchor-link.njk" %} axe-core</h2>

<ul>
  <li>
    <strong class="{{ 'issue' if issueCount > 0 }}">{{ issueCount }} violation(s)</strong>
  </li>
  <li>View <a href="{{ jsonFileName }}">JSON results</a></li>
</ul>

{% for violation in violations %}
  <section>
    <h3><svg class="icon icon-severity {{ violation.icon }}" role="img" aria-hidden="true"><use xlink:href="#{{ violation.icon }}"></use></svg> {{ violation.description }}</h3>
    <p>Violated
      <a href="{{ violation.helpUrl }}" target="_blank" rel="noopener">{{ violation.id }}</a> on:
      <em>{{ violation.breakpoints.join(", ") }}</em></p>

    {% for node in violation.nodes %}
      {% code "html" %}{{ node.html | safe }}{% endcode %}
    {% endfor %}

  </section>
{% endfor %}
