<h2 id="module-axe-core">axe-core</h2>

<ul>
  <li>
    <strong class="{{ 'issue' if issueCount > 0 }}">{{ issueCount }} violation(s)</strong>
  </li>
  <li>View <a href="{{ jsonFileName }}">JSON results</a></li>
</ul>

{% for violation in violations %}
  <section>
    <h3>{% include violation.icon %} {{ violation.description }}</h3>
    <p>Violated
      <a href="{{ violation.helpUrl }}" target="_blank" rel="noopener">{{ violation.id }}</a> on:
      <em>{{ violation.breakpoints.join(", ") }}</em></p>

    {% for node in violation.nodes %}
      {% code "html" %}{{ node.html | safe }}{% endcode %}
    {% endfor %}

  </section>
{% endfor %}
